/*** Font ***/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

/*** Variables ***/
:root{
  --white : #fff;
  --white-tint : #FAFAFA;
  --light-grey :#2B3844;
  --dark-grey : #202C36;
  --black : #111517;
  --blur-black : rgba(0, 0, 0, 0.056);
  --blur-black--light : rgba(0, 0, 0, 0.029);
  --border-radius : 5px;
  --bg-transition: background-color 0.2s ease-out;
  --border-color-transition: border-color 0.2s ease-out;
  --color-transition: color 0.25s ease-out;
}

/*** Themes Variables ***/
.dark {
  --primary-color: var(--dark-grey);
  --secondary-color: var(--light-grey);
  --text-color: var(--white);
  caret-color: var(--text-color);
}

.light {
  --primary-color: var(--white-tint);
  --secondary-color: var(--white);
  --text-color: var(--black);
  caret-color: var(--text-color);
}

/*** Reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--primary-color);
}
img{
  width: 100%;
}


/*** Main Container ***/
.App {
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: var(--bg-transition), var(--color-transition) ; 
  min-height: 100vh;
}
.container{
  max-width: 1440px;
  margin: auto;
  justify-content: center;
}
.no-transition *{
  transition: none!important;
}
.no-transition > *{
  transition: none!important;
}
/*** Header ***/
header{
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 4px var(--blur-black);
  transition: var(--bg-transition); 
  .container{
    display: flex; 
    justify-content: space-between;
    align-items: center;

  }
  .header-title{
    font-weight: 800;
    font-size: 24px;
    margin: 0;
    color: var(--text-color);
    text-decoration: none;

  }
  .theme-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
      width: 20px;
      height: 20px;
    }
    span{
      font-weight: 600;
      font-size: 16px;
      caret-color: transparent;
      margin: 0 0 0 3px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
header, main{
  padding: 30px 0;
}

/*** Home Page ***/
/** Search Area **/

.search-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 30px 0;

  .search-input{
    display: flex;
    align-items: center;
    width: 100% ;
    height: 56px;
    max-width: 460px;
    text-align: center;
    padding: 0 30px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 9px var(--blur-black);
    transition: var(--bg-transition); 
  }

  input{
    width: 100%;
    margin-left: 10px;
    background-color: transparent;
    border:0;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    &:focus{
      border: 0;
      outline: none;
    }
    &::placeholder{
      color: var(--text-color);
    }
  }
  .search-filter{
    width: max-content;   
    box-shadow: 0px 2px 9px var(--blur-black);

    div{
      background-color: var(--secondary-color);
      color: var(--text--color);   
      font-size: 18px;
      font-weight: 400;
      box-shadow: none;
      height: 56px;
      border-color: var(--secondary-color);
      border-radius: var(--border-radius);
      transition: var(--bg-transition),var(--border-color-transition); 
      cursor: pointer;
      
      &:first-child{
        border-color: var(--secondary-color);
        border-radius: var(--border-radius);
        transition: var(--bg-transition), var(--border-color-transition); 
        width: 200px;
        outline: none;
      }
      &:focus-visible{
        outline: none;
        box-shadow: none;
      }
      &:nth-child(2){
        div:first-child{
          display: flex;
          align-items: center;
        }

      }
      &:nth-child(3){
        overflow: auto;
        height: max-content;
        div{
          overflow: visible;
          height: auto;
          width: 100%;
        }
        box-shadow: 0px 2px 9px var(--blur-black)!important;

      }
      span{
        background-color: transparent;
      }
      svg{
        margin: auto;
      }
    }

  }
  select{
    background-color: var(--secondary-color);
    color: var(--text-color);
    appearance: none;
    min-width: 200px;
    height: 56px;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 50px 15px 15px;
    border:0;
    border-radius: var(--border-radius);
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &::-ms-expand {
      display: none;
    }
    option{
    background-color:black;
    
    &:first-of-type{
      background-color: red;
      margin-top: 10px;
    }
 }
  }
}
.is-loading {
  text-align: center;
  svg{
    animation: rotation 2s infinite linear;
    font-size: 100px;
  }
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

/*** Home Page ***/
/** Country List **/

.country-list{    
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 40px;
  a{
    text-decoration: none;
    color: var(--color);
    img {
      min-height: 200px;
    }
  }
  .country-thumbnail{
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 7px 2px var(--blur-black--light);
    overflow: hidden;
    .thumbnail-detail{
      padding: 0 35px 35px 35px;
    }
    h3{
      font-size: 18px;
      font-weight: 800;
    }
    p{
      font-size: 14px;
      font-weight: 600;
      margin: 7.5px 0;
      span{
        font-weight: 300;
      }
    }
  }
}
.no-country{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-top: 25px;
}


/*** Country Page ***/
/** Button **/

.btn-container{
  width: 100%;
  margin: 0 0 30px 0;
  button.btn-previous{
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 7px var(--blur-black);
    border-radius: var(--border-radius);
    width: 136px;
    height: 45px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    svg{
      margin: 0 10px 0 0 ;
    }
  }
}

/*** Country Page ***/
/** Country detail **/

.country-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px 10% ;

  h2.country-title{
    font-size: 22px;
    font-weight: 800;
  }
  .country-infos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:30px 10%;
    p{
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0;
      span{
        font-weight: 300;
      }
    }
  }
  .country-borders{
    display: inline-block;
    gap:20px;

    p{
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      margin: 20px 20px 20px 0;

    } 
    .link-list{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;     
    }
    a.country-link{
      background-color: var(--secondary-color);
      color: var(--text-color);
      box-shadow: 0 0 7px var(--blur-black);
      border-radius: var(--border-radius);
      padding: 6px 20px;
      font-size: 16px;
      margin: 0px;
      font-weight: 300;
      text-decoration: none;
      cursor: pointer;    
    }
  }
}

@media (max-width:1520px) {
  .container{
    padding: 0 80px;
  }
  
}
@media (max-width: 960px) {
  .search-wrapper{
    .search-input{
      width: 100%;
      max-width: 100%;
    }
  }
  
}

@media (max-width: 480px) {
  .container{
    padding: 0 56px;
  }

  header{
    .header-title{
      font-size: 14px;
    }
    .theme-toggle{
      svg{
        width: 17px;
        height: 17px;
      }
      span{
        font-size: 12px;
      }
    }
  }

  .search-wrapper {
    input{
    font-size: 14px;
    }
    .search-filter{
      width: 100%;
      div{
        font-size: 14px;
        &:first-child{
          width: 100%;
        }
      }
    }
  }
  .country-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  
}